* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

/* body {
    height: 100vh;
    width: 100vw;
    position: fixed;
} */

.content {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-left {
    background: url(background.jpg);
    width: 40vw;
    background-position: bottom -150px left -450px;
    background-repeat: no-repeat;

}

.content-right {
    background-color: rgb(25, 5, 46);
    box-shadow: 2px 2px 10px black;
    width: 60vw;
}

.logo {
    display: flex;
    justify-content: center;
    height: 15vh;
    position: relative;
    top: 12.5em;
    background-color:  rgba(55, 19, 51, 0.6);
    gap: 2em;
}

img {
    width: 20%;
    padding: 0.75em;
    border-radius: 35px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2.75rem;
    font-family: 'Tilt Prism', cursive;
    text-shadow: 2px 2px #fa009e;
}

.random-text {
    color: white;
    padding: 4rem;
    font-size: 1.25rem;
    margin-top: 6rem;
    font-family: Arial, Helvetica, sans-serif
}

.separate-text {
    margin-top: 3rem;
}

.form {
    color: white;
    display: flex;
    flex-flow: row wrap;
    height: 275px;
    font-family: 'Josefin Sans', sans-serif;

}

.h2 {
    width: 100%;
    font-size: 1.75rem;
    padding: 2rem 4rem;
    font-weight: bold;
}

.input {
    width: 50%;
    display: flex;
    flex-flow: wrap;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.left {
    padding-left: 4rem;
}

.right {
    padding-right: 4rem;
}

input {
    width: 90%;
    background-color: rgb(23, 21, 37);
    border: 2.5px solid rgb(37, 4, 59);
    border-radius: 3px;
    color: white;
}

input:focus {
    outline: none;
    border: 2px solid #fa009e;;
}

.input > label {
    width: 100%;
}

.submit {
    padding: 4rem;
}

button {
    padding: 0.5em 1.75em;
    background-color: black;
    border: 2.5px solid #fa009e;
    border-radius: 5px;
    color: #fa009e;
    font-size: 1.25rem;
    font-weight: 900;
}

button:hover {
    color: black;
    background-color: #fa009e;
}

.login {
    margin-top: 3rem;
    display: flex;
    gap: 0.3em;
    font-size: 1.25rem;
}

a {
    color: #fa009e;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: purple;
}